[submodule "externals/libscriptobject"]
	path = externals/libscriptobject
	url = https://github.com/RipcordSoftware/libscriptobject.git
[submodule "externals/libjsapi"]
	path = externals/libjsapi
	url = https://github.com/RipcordSoftware/libjsapi.git
